<h1>Edit Task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title, 'Título' %>
  <%= f.text_field :title %>

  <%= f.label :description, 'Descrição' %>
  <%= f.text_area :description %>

  <%= f.submit 'Atualizar Task' %>
<% end %>